.about-container{
    display: flex;
    flex-direction: row;
    place-content:  center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
}
.wrapper{
    height: 80vh;
    /* flex-basis: 50%; */
}
.aboutimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-info-textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 50vw;
    height: 50vh;
    gap: 2rem;
}

.abouttitle{
    font-size: 25px;
   font-weight:bolder;
    color: #F27F2D;
}
.aboutsubtitle{
    font-size: 30px;
}
.aboutdetails{
    letter-spacing:1px;
}
.bt3{
    width:8rem;    
    border: none;
    background-color: #F27F2D;
    padding: 8px;
    border-radius: 10px;
}
@media screen and (max-width:44.68em) { 
   .wrapper {
        height: 60vh;
        place-content: center; 
    }
   
    .abouttitle {
     font-size: 15px;
    }
    .aboutsubtitle{
        font-size: 18px;
    }
}
@media screen and (max-width:35.5em) {
    .about-info-textbox{
        gap: 1rem;
    }
}
@media screen and (max-width:33.87em) {
    .aboutimg{
        width: 95%;
        height: 95%;
    }
    .aboutdetails{
        font-size: 13px
    } 
}
@media screen and (max-width:27.29em){
    .aboutimg {
            width: 85%;
            height: 85%;
        }
    .wrapper {
        height: 50vh;
    }
        .abouttitle {
            font-size: 11px;
        }
    
        .aboutsubtitle {
            font-size: 14px;
        }
    
        .aboutdetails {
            font-size: 9px
        }
       
}
@media screen and (max-width:16.68em){

    .wrapper {
            height: 30vh;
        }
    .bt3{
        font-size: 10px;
        padding: 2px;
        width: 3rem;
    }
        .abouttitle {
            font-size: 10px;
        }
    
        .aboutsubtitle {
            font-size: 10px;
        }
    
        .aboutdetails {
            font-size: 8px
        }
}


