 @import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

 .hero-section {
     height: 92vh;
     background:url(../../assets/headerphoto.jpg);
     background-size: cover;
    background-position: center;
    padding: 130px 0;

 }

 .hero-textbox {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-left: 25px;
     width: 50vw;
     height: 50vh;
     gap: 2rem;
 }

 .hero-maintitle {
     text-transform: capitalize;
     text-align: center;
     font-family: "Playfair Display", serif;
     font-weight: 500;
     letter-spacing: 3px;
     color: white;
     font-size: 70px;

 }

 .hero-subtitle {
     text-align: center;
     font-family: "Playfair Display", serif;
     color: white;
     font-size: 20px;
     /* letter-spacing: 1.5px; */
 }

 @media screen and (max-width:45.18em) {
    .hero-subtitle{
        font-size: 15px;
    }
 }
 .hero-paragraph {
     text-align: center;
     color: white;
     font-size: 1rem;
     /* letter-spacing: 2.5px; */

 }
 .btn2 {
     display: grid;
     place-content: center;
     padding: 10px;
     font-size: 20px;
     border: none;
     border-radius: 10px;
     background: #F27F2D;
     transition: transform .2s;

 }
.btn2 :hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
@media screen and (max-width:33.87em) {
    .hero-maintitle{
        font-size: 50px;
    }
}
@media screen and (max-width:28.95em) {
    .hero-maintitle {
            font-size: 30px;
        }
    .hero-subtitle {
        font-size: 12px;
    }
    .hero-textbox{
        gap: 1rem;
    }
    .btn2{
        padding: 5px;
        font-size: 11px;
    }
    .hero-section{
      padding: 90px 0;
    }
} 

    

